<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/stinkyApp.js"></script>
  </head>
  <body ng-app="stinkyPinky">
  <div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ui-view></ui-view>			
		</div>
  </div>

	<script type='text/ng-template' id="/home.html">
		<h1 class="welcome"> {{ welcome }} </h1>
		<p class="rules"> {{ rules }} </p>

		<a href="#/login"><button class="redirectToLogin" value="Login">Login</button></a>
		<a href="#/lobby"><button class="redirectToLobby" value="Lobby">Lobby</button></a>
		
	</script>

	<script type='text/ng-template' id="/login.html">

		<form class="login">
			<h3>Enter your name</h3>

			<div class="form-group">
				<input type="text" placeholder="username" name="username" ng-model="username"></input>
			</div>

			<div class="form-group">
				<input type="text" placeholder="password" name="password" ng-model="password"></input>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="login(username, password)">Enter</button>

		</form>

		<form class="signup">
			<h3>Need to sign up?</h3>

			<a href="#/signup"><button type="submit" class="btn btn-primary">Sign Up</button></a>
		</form>

	</script>

	<script type="text/ng-template" id="/signup.html">

		<form class="signup">
			<h3>Enter your name</h3>

			<div class="form-group">
				<input type="text" placeholder="username" name="username" ng-model="username"></input>
			</div>

			<div class="form-group">
				<input type="text" placeholder="password" name="password" ng-model="password"></input>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="signup(username, password)">Enter</button>

		</form>

		<form class="signup">
			<h3>Already a user?</h3>

			<a href="#/login"><button type="submit" class="btn btn-primary">Login</button></a>
		</form>

	</script>

	<script type="text/ng-template" id="/lobby.html">

		<a href="#/game"><h1 class="play-message">Play Stinky Pinky</h1></a>

		<form class="send-riddle">
			<h3>Send us your riddles!</h3>

			<div class="accepted" ng-show="vetted">Your riddle has been added! Thank you!</div>
			<div class="rejected" ng-show="rejected">Hmm... Something is wrong with your riddle. Try sending another!</div>
			<div class="form-group" ng-hide="vetted || rejected">
				<input type="text" placeholder="Your Riddle Here" name="riddle" ng-model="riddle"></input>
			</div>

			<div class="form-group" ng-hide="vetted || rejected">
				<input type="text" placeholder="The answer please" name="answer" ng-model="answer"></input>
			</div>
			<div class="waiting" ng-show="wait">**Beep**Boop**Analyzing your riddle**Beep**</div>
			<button type="submit" class="btn btn-primary" ng-click="send(riddle, answer)" ng-hide="wait">Thank you</button>

		</form>

	</script>

	<script type="text/ng-template" id="/game.html">


		<div class="game" ng-hide="endgame">
			<h1 class="current-riddle"> {{ currentRiddle.r }} </h1>

			<form class="answer">

				<div class="form-group">
					<div class="wrong" ng-show="wrong" style="font-size:50px">WRONG</div>
					<input type="text" placeholder="Give us the Stink" name="response" ng-model="response" ng-hide="wrong"></input>
				</div>

				<button	type="submit" class="btn btn-primary respond" ng-click="checkAnswer(response)">Answer</button>
				<button type="submit" class="btn btn-primary skip" ng-click="skipRiddle()">Skip</button>
			</form>

			<h2 class="points"> Score: {{ points }} </h2>
			<h2 class="timer"> Time left: {{ time }} </h2>
		</div>

		<div class="gameover" ng-show="endgame">
			<h1 class="over"> Game Over </h1>
			<h2 class="score"> You got {{ points }} points!</h2>
		</div>



	</script>


  </body>
</html>
